body {
	/*background-color: #F3F3F3;*/
}
img {
	padding: 20px 0px 20px 0px;
}
.header {
	color: #6C6C6C;
	font-size: 30px;
	text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
	height: 200px;
	padding: 90px 0px 0px 0px;
}
.photos {  
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.text {
	color: #6C6C6C;
	font-family: 'Open Sans', sans-serif;
	padding: 10px 40px 10px 40px;
}
